@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/******************* presets part *******************/

:root {
  /************* colors *************/
  /* text bold*/
  --Very_dark_desaturated_blue: hsl(238, 29%, 16%);
  --Soft_red: hsl(14, 88%, 65%);

  /* text Neutral */
  --Very_dark_grayish_blue: hsl(237, 12%, 33%);
  --Dark_grayish_blue: hsl(240, 6%, 50%);

  /* gradient */
  --Soft_violet: hsl(273, 75%, 66%);
  --Soft_blue: hsl(240, 73%, 65%);

  /* dividers */
  --Light-grayish-blue: hsl(240, 5%, 91%);

  /************* vars *************/

  --li-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  user-select: none;
}

ul {
  list-style: none;
}

ul li,
ul li a {
  text-decoration: none;
}

/******************* header part *******************/

header {
  font-size: 11px;
  text-align: center;
  position: absolute;
  top: 0;
}

header a {
  color: hsl(228, 45%, 44%);
}

/******************* body part *******************/

body {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/******************* main part *******************/

main {
  width: 920px;
  height: 510px;

  border-radius: 22px;
  background-color: white;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-position: -575px -290px;
  background-repeat: no-repeat;

  box-shadow: 0px 80px 50px -30px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: right;

  position: relative;
}

#div-cube {
  position: relative;
  left: -179px;
  top: 205px;
  z-index: 1;
}

#cube {
  position: absolute;
  left: -425px;
  bottom: 65px;
  z-index: 1;

  transition: transform 0.1s ease-out;
}

/* shadow of cube */
#div-cube::after {
  content: "";
  display: block;
  position: absolute;
  left: -335px;
  bottom: 150px;
  width: 10px;
  height: 10px;

  box-shadow: 0px 0px 35px 35px rgba(0, 0, 0, 0.2);
}

/* image of girl */
main > img:nth-child(2) {
  position: absolute;
  left: -80px;
  clip: rect(0px, 500px, 400px, 80px);
}

/******************* right part *******************/
aside {
  display: flex;
  flex-direction: column;

  width: 340px;
  height: 80%;
  margin-right: 103px;

  z-index: 1;
}

/* title (FAQ) */
aside > h1 {
  font-size: 32px;
  font-weight: 700;
  padding: 15px 0 20px 0;
}

/* container of container of question/answer */
ul {
  display: flex;
  flex-direction: column;

  height: calc(var(--li-height) * 5);
  transition: height 0.4s ease-out;
}

.ul-active {
  height: calc(var(--li-height) * 6);
}

.ul-active-3lines {
  height: calc(var(--li-height) * 6 + 20px);
}

/* container of question/answer */
ul > li {
  height: var(--li-height);
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;

  transition: flex-grow 0.4s ease-out;
  border-bottom: 1px var(--Light-grayish-blue) solid;

  position: relative;
}

/* active container of question/answer */
.active {
  flex-grow: 1000;
}

/* container of question with arrow */
ul > li > div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}

/* question */
ul > li > div > h2 {
  color: var(--Very_dark_grayish_blue);
  font-weight: 400;
  font-size: 14px;
  transition: font-weight 0.4s;
}

/* when the question has been clicked */
.active > div > h2 {
  font-weight: 700;
}

/* question hover  */
ul > li > div > h2:hover {
  color: var(--Soft_red);
  cursor: pointer;
  transition: 100ms;
}

/* answers */
p {
  font-size: 12px;
  font-weight: 400;
  color: var(--Dark_grayish_blue);
  position: absolute;
  line-height: 17px;
  width: 330px;
}

.arrow-wrapper {
  height: 7px;
  width: 10px;
  margin-right: 10px;

  perspective: 2000px;
  perspective-origin: top;
}

.active .arrow {
  transform: rotateX(180deg);
}

.arrow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s cubic-bezier(0, 0, 0.07, 1);
}

/******************* responsive part *******************/

@media (max-width: 1100px) {
  body {
    justify-content: flex-end;
  }

  main {
    width: 330px;
    height: 535px;
    margin-bottom: 80px;
    justify-content: center;
    background-position: 50px -130px;
    background-size: 235px;
  }

  /* image of the girl */
  main > img:nth-child(2) {
    width: 235px;
    top: -108px;
    left: 50px;

    clip: auto;
  }

  /* the whole thing */
  aside {
    margin: 0;
    padding-top: 100px;
    width: 85%;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  /* container of container of question/answer */
  ul {
    width: 100%;
  }

  /* question */
  ul > li > div > h2 {
    font-size: 13px;
  }

  /* title (FAQ) */
  aside > h1 {
    padding: 25px 0 15px 0;
  }

  /* answers */
  p {
    width: 94%;
  }

  #cube {
    width: 95px;
    left: 197px;
    bottom: 435px;
  }

  #div-cube::after {
    left: 239px;
    bottom: 480px;

    box-shadow: 0px 10px 20px 15px rgba(0, 0, 0, 0.3);
  }

  .arrow-wrapper {
    margin: 0;
  }
}
